@using Questioning.Models
@model Questioning.Models.QuestionsModel


@{
    ViewBag.Title = "Ваши пожелания";
}



@if (Model.NotRight)
{
    <p style="color:red">@Model.ErrorMessage</p>
}

    <div class="container" style="position:absolute; top:15%; width:95%">
        <h3>@Model.Empl.FirstName @Model.Empl.MiddleName,</h3>
        <h4>Здесь Вы можете оставить 3 пожелания для руководства компании:</h4>

        @using (Html.BeginForm("QGreetings", "Home", FormMethod.Post))
        {
            <input type="hidden" name="EmpId" value="@Model.Empl.Id" />
            <input type="hidden" name="depId" value="@Model.Dep">
            <input type="hidden" name="guidId" value="@Model.GuidId">
            <input type="hidden" name="selectedPos" value="@Model.Pos">
            <div class="form-group form-group-lg">
                <div class="form-group">
                    @Html.LabelFor(a => a.Greet1, "Что должен предпринять ваш руководитель, чтобы Вы стали эффективнее и счастливее на работе?")
                    @Html.TextBox("Greet1", @Model.Greet1, new { @class = "form-control input-lg", @id = "lg", @placeholder = "" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Greet2, "Что должна предпринять компания, чтобы вы стали эффективнее и счастливее на работе?")
                    @Html.TextBox("Greet2", @Model.Greet2, new { @class = "form-control input-lg", @id = "lg", @placeholder = "" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Greet3, "Какие еще идеи на ваш взгляд сделают вас продуктивнее на работе?")
                    @Html.TextBox("Greet3", @Model.Greet3, new { @class = "form-control input-lg", @id = "lg", @placeholder = "" })
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg" value="Готово" />
                </div>
            </div>

        }
    </div>